
  <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>Engineer</title>
      </head>
    
      <body>
      <div class="container">
        <div class="card" style="width: 18rem;" style= "background-color:#F5F5F5;">
      <img src="" class="card-img-top light">
      <div class="card-body" style = "text-align: center>
        <h3><span class="badge badge-primary display-4">Hi! My name is: </span><br>Heifetz</h3>
        
          <p class="lead">id: 3443 </p>
          <h3><span class="badge badge-info">engineer</span></h3>
          <ul class="list-group">
          <li class="list-group-item">email: Hman@noman.com</li>
          <li class="lead list-group-item"><span class="badge badge-warning">greatest</span></li>
          <li class="lead list-group-item">GitHub: lobby</span></li>
          </ul>
        </div>
      </div>
      </body>
      </html>