
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <title>Manager</title>
    </head>
  
    <body>
    <div class="container">
    <div class="card" style="width: 18rem;" style= "background-color:#F5F5F5;"/>
    <img src="" class="card-img-top-primary">
    <div class="card-body" style = "text-align: center; background-color:#F5F5F5">
      <h3><span class="badge badge-primary display-4">Hi! My name is: </span><br>John Doe</h3>
        <p class="lead">id: 369 </p>
        <h3><span class="badge badge-danger">manager</span></h3>
        <ul class="list-group">
        <li class="list-group-item">email: JohnD@nonmail.com</li>
        <li class="lead list-group-item"><span class="badge badge-secondary">person in charge</span></li>
        <li class="list-group-item">Office number: 963</li>
        </ul>
      </div>
    </div>
    </body>
    </html>